SMTP_DETAILS={ "host" : "<YOUR PROD SMTP SERVER>", "port": "<PORT FOR YOUR PROD SMTP SERVER>", "auth": { "user": "<YOUR USERNAMR FOR SMTP SERVER>", "pass": "<YOUR PASSWORD FOR SMTP SERVER>" } }
FROM=<EMAIL ADRESS OF THE MAIL TO BE SENT FROM>